:root{
--maincolor: red;
--bordercl: #F7D060;
--callouctcolor:dodgerblue;
--hovercolor:navy;
--darkMaincolor: #F7D060;
}

::selection {
  background: #F7D060;
  color: #fff;
  text-shadow: none;
}

img {
  border: 3px solid transparent;
  max-width: 100%;
}

.floatright {
  float:right;
  padding: 0 0 0 10px;
}

.floatleft {
  float:left;
  padding: 0 10px 0 0;
}
