:root {
  --maincolor: red;
  --bordercl: #f7d060;
  --callouctcolor: dodgerblue;
  --hovercolor: navy;
  --darkMaincolor: #f7d060;
}

p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5em;
}

table td {
  font-size: 12px;
}

table th {
  font-size: 12px;
}

::selection {
  background: #f7d060;
  color: #000;
  text-shadow: none;
}

code {
  background-color: transparent;
  color: white;
}

img {
  border: 3px solid transparent;
  max-width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatright {
  float: right;
  padding: 0 0 0 10px;
}

.floatleft {
  float: left;
  padding: 0 10px 0 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #f7d060;
}

details {
  color: #777;
}

pre {
  background-color: #212121 !important;
  border: 1px solid #f7d060 !important;
}

.highlight pre ::before {
  background-color: #f7d060 !important;
  color: black !important;
}
